
 
.image-container{
    text-align: center;
    margin-top: 20px;
}

 img {
    width: 1065px;
    margin-top: 20px;
 }

 .video-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
 }

 .responsive-video {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 1065px;
    // height: 100%;
 }